# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [57]:
x = 3
x = float(x)
print(f'x = {(type(x))}')

y = 4.5
y = int(y)
print(f'y = {(type(y))}')

z = '8'
z = int(z)
print(f'y = {(type(z))}')

a = '12'
a = float(a)
print(f'y = {(type(a))}')

b = '46.8'
b = float(b)
b = int(b)
print(f'b = {(type(b))}')

x = <class 'float'>
y = <class 'int'>
y = <class 'int'>
y = <class 'float'>
b = <class 'int'>

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [58]:
ali = 15
veli = 17
ahmet = 20

print(f'Alini yaşı velinin yaşından büyük müdür : {ali > veli}')
print(f'Ahmetin yaşı velinin yaşından büyük müdür : {ahmet > veli}')
print(f'Ahmetin yaşı Alini yaşından büyük müdür : {ahmet > ali}')

Alini yaşı velinin yaşından büyük müdür : False
Ahmetin yaşı velinin yaşından büyük müdür : True
Ahmetin yaşı Alini yaşından büyük müdür : True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [59]:
sayi1= float(input('İlk sayıyı giriniz :'))
sayi2 = float(input('İkinci sayıyı giriniz :'))


toplama = sayi1+sayi2
cikarma = sayi1-sayi2
bolme = sayi1/sayi2
carpma = sayi1*sayi2

print(f'Toplama sonucu:{toplama}')
print(f'Çıkarma sonucu:{cikarma}')
print(f'Çarpma sonucu:{bolme}')
print(f'Bölme sonucu:{carpma}')

Toplama sonucu:155.4
Çıkarma sonucu:90.6
Çarpma sonucu:3.7962962962962963
Bölme sonucu:3985.2

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [60]:
k_isim = input('İsminizi verebilir misiniz? :')
k_yas = input('Yaşınızı verebilir misiniz? :')
k_sehir = input('Yaşadığınız şehri verebilir misiniz? :')
k_meslek = input('Mesleğinizi verebilir misiniz? :')

print('İsminiz : {}"\n"Yaşınız :{}"\n"Yaşadığınız Şehir :{}"\n"Mesleğiniz :{}'.
      format(
          k_isim,
          k_yas,
          k_sehir,
          k_meslek
          ))

İsminiz : Erenalp"
"Yaşınız :21"
"Yaşadığınız Şehir :Ereğli"
"Mesleğiniz :Bilgisayar Programcısı

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [61]:
hikod = "Hi-Kod Veri Bilimi Atölyesi"
df = hikod.split(' ')
print(df)
text=  ''
for hikod in df:
    hikod = hikod.upper()
    print(hikod)
    text += hikod
text

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']
HI-KOD
VERI
BILIMI
ATÖLYESI

'HI-KODVERIBILIMIATÖLYESI'

In [62]:
nums = '0123456789'
text1 = ''
text2 = ''
for num in range(len(nums)):
    if(int(nums[num])%2 == 0 ):
        text1+=nums[num]
    else:
        text2+=nums[num]

df = [text1,text2]
df

['02468', '13579']